# Project-2

Dear Participant,

Please find below the Project for Statistical Learning course. This is an individual assignment. Kindly submit it before it's deadline.

The Titan Insurance Company has just installed a new incentive payment scheme for its lift policy sales force. It wants to have an early view of the success or failure of the new scheme. Indications are that the sales force is selling more policies, but sales always vary in an unpredictable pattern from month to month and it is not clear that the scheme has made a significant difference.

Life Insurance companies typically measure the monthly output of a salesperson as the total sum assured for the policies sold by that person during the month. For example, suppose salesperson X has, in the month, sold seven policies for which the sums assured are £1000, £2500, £3000, £5000, £10000, £35000. X's output for the month is the total of these sums assured, £61,500. Titan's new scheme is that the sales force receives low regular salaries but are paid large bonuses related to their output (i.e. to the total sum assured of policies sold by them). The scheme is expensive for the company, but they are looking for sales increases which more than compensate. The agreement with the sales force is that if the scheme does not at least break even for the company, it will be abandoned after six months.

The scheme has now been in operation for four months. It has settled down after fluctuations in the first two months due to the changeover.

To test the effectiveness of the scheme, Titan have taken a random sample of 30 salespeople measured their output in the penultimate month prior to changeover and then measured it in the fourth month after the changeover (they have deliberately chosen months not too close to the changeover). The outputs of the salespeople are shown in Table 1

---***---

<HTML>
    <BODY>
        <table border="1" width="311">
            <tbody>
                <tr>
                <td width="98">
                <p>SALESPERSON</p>
                </td>
                <td width="107">
                <p>Old Scheme (in thousands)</p>
                </td>
                <td width="106">
                <p>New Scheme (in thousands)</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>1</p>
                </td>
                <td width="107">
                <p>57</p>
                </td>
                <td width="106">
                <p>62</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>2</p>
                </td>
                <td width="107">
                <p>103</p>
                </td>
                <td width="106">
                <p>122</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>3</p>
                </td>
                <td width="107">
                <p>59</p>
                </td>
                <td width="106">
                <p>54</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>4</p>
                </td>
                <td width="107">
                <p>75</p>
                </td>
                <td width="106">
                <p>82</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>5</p>
                </td>
                <td width="107">
                <p>84</p>
                </td>
                <td width="106">
                <p>84</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>6</p>
                </td>
                <td width="107">
                <p>73</p>
                </td>
                <td width="106">
                <p>86</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>7</p>
                </td>
                <td width="107">
                <p>35</p>
                </td>
                <td width="106">
                <p>32</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>8</p>
                </td>
                <td width="107">
                <p>110</p>
                </td>
                <td width="106">
                <p>104</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>9</p>
                </td>
                <td width="107">
                <p>44</p>
                </td>
                <td width="106">
                <p>38</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>10</p>
                </td>
                <td width="107">
                <p>82</p>
                </td>
                <td width="106">
                <p>107</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>11</p>
                </td>
                <td width="107">
                <p>67</p>
                </td>
                <td width="106">
                <p>84</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>12</p>
                </td>
                <td width="107">
                <p>64</p>
                </td>
                <td width="106">
                <p>85</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>13</p>
                </td>
                <td width="107">
                <p>78</p>
                </td>
                <td width="106">
                <p>99</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>14</p>
                </td>
                <td width="107">
                <p>53</p>
                </td>
                <td width="106">
                <p>39</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>15</p>
                </td>
                <td width="107">
                <p>41</p>
                </td>
                <td width="106">
                <p>34</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>16</p>
                </td>
                <td width="107">
                <p>39</p>
                </td>
                <td width="106">
                <p>58</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>17</p>
                </td>
                <td width="107">
                <p>80</p>
                </td>
                <td width="106">
                <p>73</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>18</p>
                </td>
                <td width="107">
                <p>87</p>
                </td>
                <td width="106">
                <p>53</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>19</p>
                </td>
                <td width="107">
                <p>73</p>
                </td>
                <td width="106">
                <p>66</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>20</p>
                </td>
                <td width="107">
                <p>65</p>
                </td>
                <td width="106">
                <p>78</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>21</p>
                </td>
                <td width="107">
                <p>28</p>
                </td>
                <td width="106">
                <p>41</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>22</p>
                </td>
                <td width="107">
                <p>62</p>
                </td>
                <td width="106">
                <p>71</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>23</p>
                </td>
                <td width="107">
                <p>49</p>
                </td>
                <td width="106">
                <p>38</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>24</p>
                </td>
                <td width="107">
                <p>84</p>
                </td>
                <td width="106">
                <p>95</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>25</p>
                </td>
                <td width="107">
                <p>63</p>
                </td>
                <td width="106">
                <p>81</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>26</p>
                </td>
                <td width="107">
                <p>77</p>
                </td>
                <td width="106">
                <p>58</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>27</p>
                </td>
                <td width="107">
                <p>67</p>
                </td>
                <td width="106">
                <p>75</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>28</p>
                </td>
                <td width="107">
                <p>101</p>
                </td>
                <td width="106">
                <p>94</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>29</p>
                </td>
                <td width="107">
                <p>91</p>
                </td>
                <td width="106">
                <p>100</p>
                </td>
                </tr>
                <tr>
                <td width="98">
                <p>30</p>
                </td>
                <td width="107">
                <p>50</p>
                </td>
                <td width="106">
                <p>68</p>
                </td>
                </tr>
            </tbody>
        </table>
    </BODY>
</HTML>

---***---

# Questions
1. Find the mean of old scheme and new scheme column. (5 points)
2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)
3. What conclusion does the test (p-value) lead to? (2.5 points)
4. Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
        a) The probability of a type 1 error? (2.5 points)

        b) What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)

        c) Power of the test (5 points)

In [96]:
# Import packages here

import pandas as pd
import numpy as np
import scipy as stats

In [97]:
# Read data
    # APPROACH 1: We can copy-paste the provided data to csv(opened as excel) and then read here
    # APPROACH 2: Create dataframe by typing all value into it

# Approach used: APPROACH 2 (for easy of future reference)

salesperson = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 
               16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
old_schema = [57, 103, 59, 75, 84, 73, 35, 110, 44, 82, 67, 64, 
              78, 53, 41, 39, 80, 87, 73, 65, 28, 62, 49, 84, 63, 77, 67, 101, 91, 50]
new_schema = [62, 122, 54, 82, 84, 86, 32, 104, 38, 107, 84, 85, 
              99, 39, 34, 58, 73, 53, 66, 78, 41, 71, 38, 95, 81, 58, 75, 94, 100, 68]

ti_df = pd.DataFrame()
ti_df['SALESPERSON'] = salesperson
ti_df['Old Scheme (in thousands)'] = old_schema
ti_df['New Scheme (in thousands)'] = new_schema

ti_df

    SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0             1                         57                         62
1             2                        103                        122
2             3                         59                         54
3             4                         75                         82
4             5                         84                         84
5             6                         73                         86
6             7                         35                         32
7             8                        110                        104
8             9                         44                         38
9            10                         82                        107
10           11                         67                         84
11           12                         64                         85
12           13                         78                         99
13           14                         53                         39
14           15                         41                         34
15           16                         39                         58
16           17                         80                         73
17           18                         87                         53
18           19                         73                         66
19           20                         65                         78
20           21                         28                         41
21           22                         62                         71
22           23                         49                         38
23           24                         84                         95
24           25                         63                         81
25           26                         77                         58
26           27                         67                         75
27           28                        101                         94
28           29                         91                        100
29           30                         50                         68

## Question 1

* Find the mean of old scheme and new scheme column. (5 points)

In [98]:
ti_des = ti_df.describe().T

ti_des

,count,mean,std,min,25%,50%,75%,max
SALESPERSON,30.0,15.500000,8.803408,1.0,8.25,15.5,22.75,30.0
Old Scheme (in thousands),30.0,68.033333,20.455980,28.0,54.00,67.0,81.50,110.0
New Scheme (in thousands),30.0,72.033333,24.062395,32.0,55.00,74.0,85.75,122.0

In [99]:
print("Mean of old schema is: ", ti_des.iloc[1, 1])
print("Mean of new schema is: ", ti_des.iloc[2, 1])

Mean of old schema is:  68.03333333333333
Mean of new schema is:  72.03333333333333

## Question 2

* Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)

In [100]:
# Null hypothesis (H0): Data has not changed significently
# Alternate hypothesis (H1): Data has changed significently

from scipy.stats import ttest_ind
from statsmodels.stats.power import ttest_power

t_statistic, p_value = ttest_ind(ti_df['Old Scheme (in thousands)'], ti_df['New Scheme (in thousands)'])
# t_statistic, p_value = ttest_ind(ti_df['New Scheme (in thousands)'], ti_df['Old Scheme (in thousands)'])

# Print the output
print('P_value is ', p_value)

if(p_value < 0.05):
    print('As per the p_value the null-hypothesis is rejected at 5% significance. \nSignificant change is observed between the old and new scheme.')
else:
    print('As per the p_value the null-hypothesis is accepted at 5% significance. \nSignificant change is not observed between the old and new scheme.')

P_value is  0.49063515686248105
As per the p_value the null-hypothesis is accepted at 5% significance.
Significant change is not observed between the old and new scheme.

## Question 3

* What conclusion does the test (p-value) lead to? (2.5 points)

###### Null hypothesis is accepted.
<HTML>
    <BODY>
        <font color = "red">As per the p-value, it is concluded that, there is no significant improvement in the sum assured between the old scheme and the new scheme, as per the provided data set.</font>
    </BODY>
</HTML>

## Question 4

* Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

 a) The probability of a type 1 error? (2.5 points)

 b) What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)

 c) Power of the test (5 points)

In [101]:
# Create a new column with difference between new scheme and old scheme

ti_df['New to old delta'] = (ti_df['New Scheme (in thousands)'] - ti_df['Old Scheme (in thousands)'])

ti_df.head()
ti_df.describe().T

,count,mean,std,min,25%,50%,75%,max
SALESPERSON,30.0,15.500000,8.803408,1.0,8.25,15.5,22.75,30.0
Old Scheme (in thousands),30.0,68.033333,20.455980,28.0,54.00,67.0,81.50,110.0
New Scheme (in thousands),30.0,72.033333,24.062395,32.0,55.00,74.0,85.75,122.0
New to old delta,30.0,4.000000,14.081046,-34.0,-6.75,7.5,16.00,25.0

In [102]:
# One Sample T-test

# Type 1 error (false positive): Rejected the null hypothesis, but it was correct
# Type 2 error (false negative): Retained the null hypothesis, but alternate hypothesis was correct

# Null Hypothesis (H0): The average increase in output is not more than 5000
# Alternate Hypothesis (H1): Average output increase is more than £5000 in the scheme compared to the old scheme

from scipy.stats import ttest_1samp

t_statistic, p_value = ttest_1samp(ti_df['New to old delta'], 5)

print("t_statistic, p_value: ", t_statistic, p_value)

t_statistic, p_value:  -0.3889785955886094 0.7001334912613286

###### 4) a. The probability of a type 1 error? (2.5 points)

In [103]:
print("The probability of getting type 1 error is given by p-value, which is: ", p_value)

The probability of getting type 1 error is given by p-value, which is:  0.7001334912613286

###### 4) b. What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)

In [104]:
print('The p-value generated from 1 sample t-test is: ', p_value)

The p-value generated from 1 sample t-test is:  0.7001334912613286

###### 4) c. Power of the test (5 points)

In [105]:
import statsmodels.stats.power as smp

# z_stat = 5/np.std(ti_df['New Scheme (in thousands)'])
# nobs = len(np.array(ti_df['New Scheme (in thousands)'])) - 1

z_stat = 5/np.std(ti_df['New to old delta'])
nobs = len(np.array(ti_df['New to old delta'])) - 1

print("z_stat (effect size): ", z_stat)
print("nobs: ", nobs)

power = smp.ttest_power(effect_size=z_stat, nobs=nobs, alpha=0.05, alternative='larger')

print("Power of the t_test is", power)

z_stat (effect size):  0.36115755925730764
nobs:  29
Power of the t_test is 0.5997596922577161